.h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-decoration: underline;

}

.main{
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
}

.left{
    width: 25%;
    height: auto;
    margin-left: 110px;
    border: 3px solid black;
    border-radius: 7px;
    padding-top: 10px;
    position: relative;
}

.left:hover{
    background: linear-gradient(skyblue,rgb(31, 31, 186));

}

.left h1{
    font-family: sans-serif;
    padding-top: 10px;
    
}

.left p{
    font-size: 20px;
    font-family: serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.left button{
    width:65%;
    height: 40px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.center{
    width: 25%;
    height: auto;
    margin-left: 50px;
    border: 3px solid black;
    border-radius: 7px;    
}

.center:hover{
    background: linear-gradient(rgb(78, 78, 237),red,yellow);

}

.center img{
    padding-top: 20px;

}

.center h1{
    font-family: sans-serif;
    padding-top: 3px;
}


.center p{
    font-size: 20px;
    font-family: serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.center button{
    width:65%;
    height: 40px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.right{
    width: 25%;
    height: auto;
    margin-left: 50px;
    border: 3px solid black;
    border-radius: 7px;
    
}
.right:hover{
    background: linear-gradient(pink,red);

}

.right img{
    padding-top: 10px;
}

.right h1{
    font-family: sans-serif;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 15px;
}


.right p{
    font-size: 20px;
    font-family: serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
    
}

.right button{
    width:65%;
    height: 40px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}